.gray-light {
  color: var(--color-gray-light)
}

.gray-dark {
  color: var(--color-gray-dark)
}

.gray_dialog-dark {
  background: #f7f7f7;
}

.rupee {
  font-family: "WebRupee";
  font-style: normal;
  font-weight: normal;
}

.bold {
  font-weight: 700 !important;
}

.info {
  background-color: #feffc5;
}

.block {
  display: block;
}

.decline {
  text-transform: uppercase !important;
  color: var(--color-red) !important;
}

.approved {
  text-transform: uppercase !important;
  color: var(--color-green) !important;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.font-size {
  font-size: 16px;

  &-2 {
    font-size: 32px;
  }


}

.font {
  &-lato {
    font-family: "Lato" !important;
  }

}

.padding {
  padding: 16px;

  &-y {
    padding-top: 16px;
    padding-bottom: 16px;

  }

  &-y2 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &-x {
    padding-left: 16px;
    padding-right: 16px;

  }

  &-b {
    padding-bottom: 16px;
  }

  &-t {
    padding-top: 16px;
  }
}

.margin {
  margin: 16px;

  &-y {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &-y2 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &-x {
    margin-right: 16px;
    margin-left: 16px;

  }

  &-b {
    margin-bottom: 16px;
  }

}

.pointer {
  cursor: pointer;
}

.text-secondary {
  color: #999;
}
.text-tertialru{
  color: #666666;
}

.errorMsg {
  color: #ff0000;
  text-align: center;
}

.text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize{
    text-transform: capitalize;
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-red {
    color: var(--color-red);
  }

  &-error {
    color: var(--color-red);
  }

  &-danger {
    color: var(--color-red);
  }

  &-success {
    color: var(--color-green)
  }

  &-vertical {
    writing-mode: vertical-rl;
    vertical-align: top;
  }

  &-link {
    color: var(--color-link);
  }

  &-coral {
    color: var(--color-coral);
  }
}

.toolbar {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  min-width: 150px;
  height: 54px;
  padding-bottom: 0;
}

.toolbar-dark {
  display: flex;
  align-items: center;
  background-color: #e4e4e4;
  min-width: 150px;
  height: 54px;
  padding-bottom: 0;
}

.rotate {

  &-45 {
    transform: rotate(45deg);
  }

  &-90 {
    transform: rotate(90deg);
  }

  &-180 {
    transform: rotate(180deg);
  }

  &-270 {
    transform: rotate(270deg);
  }
}

.background-info {
  background-color: #feffc5 !important;
  color: inherit;
}

.border {
  border: var(--border);

  &-y {
    border-top: var(--border);
    border-bottom: var(--border);
  }

  &-x {
    border-right: var(--border);
    border-left: var(--border);
  }

  &-0 {
    border: none !important;
  }

  &-bottom {
    border-bottom: var(--border);
  }

  &-top {
    border-top: var(--border);
  }

  &-right {
    border-right: var(--border);
  }

  &-left {
    border-left: var(--border);
  }
}

.icon-container {
  width: 37.8px;
  height: 37.8px;
  border: solid 0.6px #e2e2e2;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.background {
  &-primary {
    background: var(--color-background);
  }

  &-white {
    background: var(--color-white);
  }
}

.paxStatus {
  color: #3BB3A9 !important;
  font-size: 14px !important;
}

.letter-spacing {
  &-1 {
    letter-spacing: 1px;
  }

  &-2 {
    letter-spacing: 2px;
  }

  &-3 {
    letter-spacing: 3px;
  }

  &-4 {
    letter-spacing: 4px;
  }

  &-5 {
    letter-spacing: 5px;
  }
}

.pos {
  &-relative {
    position: relative;
  }
}

.trusted-companies {
  width: 220px;
  object-fit: contain;
}

.analytics {

  .count {
    font-size: 60px;
    background: linear-gradient(0deg, #877CFF 0%, #4086D8 96.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  color: #666;
  font-size: 18px;
  padding:20px 60px;
}

.analytics:not(:last-child) {
  border-right: 1px solid rgba(24, 24, 27, 0.2);
}

label{
  font-weight: 600;
  margin-bottom: 8px;
}

.plan{
  &-basic{
    background: linear-gradient(90deg, #FFF0D9 0%, #FFFFFF 50.5%, #FFEFD9 100%);
    color: #7A4900;
  }
  &-pro{
    background: linear-gradient(90deg, #E0EDFF 0%, #FFFFFF 50.5%, #E0EDFF 100%);
    color:#003078;
  }
  &-elite{
    background: linear-gradient(90deg, #EFE6FF 0%, #FFFFFF 50.5%, #EFE5FF 100%);
    color: #3C009E;
  }
}
.l-status{
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &-to_be_picked{
    background: #3974F8;
  }
  &-picked{
    background: #FAC400;
  }
  &-converted{
    background: #55C961;
  }
  &-failed{
    background: #F34F4F;
  }
}

.remarks-container{
  border-radius: 8px;
  border: 1px solid #F34F4F80;
  margin-left: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:4px;
  width: 100%;
  justify-content: end;
  gap:4px;
  font-size: 14px;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  background:#FDF0F0;
  transition: margin-left 0.5s ease-in-out;
}
.remarks-container:hover{
  margin-left: 62%;
}

.generic-error{
  background-color: #fff;
  height: 400px;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  gap:1rem;
}

@-moz-document url-prefix() {
  * {
    scrollbar-color: #888 #f1f1f1; /* thumb and track colors */
    scrollbar-width: thin;
  }
}

/* Apply global scrollbar styling */
/* For WebKit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* width for vertical scrollbar */
  height: 6px; /* height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* For Firefox */
/* You can use scrollbar-color and scrollbar-width for Firefox */

