@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.fs {
    &-9 {
        font-size: 0.563rem;
    }

    &-10 {
        font-size: 0.625rem;
    }

    &-12 {
        font-size: 0.75rem;
    }

    &-14 {
        font-size: 0.875rem;
    }

    &-16 {
        font-size: 1rem;
    }

    &-17 {
        font-size: 1.063rem;
    }

    &-18 {
        font-size: 1.125rem;
    }

    &-20 {
        font-size: 1.25rem;
    }

    &-25 {
        font-size: 1.563rem;
    }

    &-30 {
        font-size: 1.875rem;
    }

    &-32 {
        font-size: 2rem;
    }
}

.fw {
    &-1 {
        font-weight: 100;
    }

    &-2 {
        font-weight: 200;
    }

    &-3 {
        font-weight: 300;
    }

    &-4 {
        font-weight: 400;
    }

    &-5 {
        font-weight: 500;
    }

    &-6 {
        font-weight: 600;
    }

    &-1-not {
        font-weight: 100 !important;
    }

    &-2-not {
        font-weight: 200 !important;
    }

    &-3-not {
        font-weight: 300 !important;
    }

    &-4-not {
        font-weight: 400 !important;
    }

    &-5-not {
        font-weight: 500 !important;
    }

    &-6-not {
        font-weight: 600 !important;
    }

}