$sizes: (
  1: 0.125rem,  /* 2px */
  2: 0.25rem,   /* 4px */
  3: 0.375rem,  /* 6px */
  4: 0.5rem,    /* 8px */
  5: 0.625rem,  /* 10px */
  6: 0.75rem,   /* 12px */
  7: 0.875rem,  /* 14px */
  8: 1rem,      /* 16px */
  9: 1.125rem,  /* 18px */
  10: 1.25rem,  /* 20px */
  11: 1.375rem, /* 22px */
  12: 1.5rem,   /* 24px */
  13: 1.625rem, /* 26px */
  14: 1.75rem,  /* 28px */
  15: 1.875rem, /* 30px */
  16: 2rem,     /* 32px */
  17: 2.125rem, /* 34px */
  18: 2.25rem,  /* 36px */
  19: 2.375rem, /* 38px */
  20: 2.5rem,    /* 40px */
  21: 2.625rem, /* 42px */
  22: 2.75rem,  /* 44px */
  23: 2.875rem, /* 46px */
  24: 3rem,     /* 48px */
  25: 3.125rem, /* 50px */
  26: 3.25rem,  /* 52px */
  27: 3.375rem, /* 54px */
  28: 3.5rem,   /* 56px */
  29: 3.625rem, /* 58px */
  30: 3.75rem,  /* 60px */
  31: 3.875rem, /* 62px */
  32: 4rem,     /* 64px */
  33: 4.125rem, /* 66px */
  34: 4.25rem,  /* 68px */
  35: 4.375rem, /* 70px */
  36: 4.5rem,   /* 72px */
  37: 4.625rem, /* 74px */
  38: 4.75rem,  /* 76px */
  39: 4.875rem, /* 78px */
  40: 5rem,     /* 80px */
  41: 5.125rem, /* 82px */
  42: 5.25rem,  /* 84px */
  43: 5.375rem, /* 86px */
  44: 5.5rem,   /* 88px */
  45: 5.625rem, /* 90px */
  46: 5.75rem,  /* 92px */
  47: 5.875rem, /* 94px */
  48: 6rem,     /* 96px */
  49: 6.125rem, /* 98px */
  50: 6.25rem  /* 100px */
);

.p {
  @each $key, $value in $sizes {
      &-#{$key} {
        padding: $value;
      }

      &x-#{$key} {
        padding-left: $value;
        padding-right: $value;
      }

      &y-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
      }

      &t-#{$key}{
        padding-top: $value;
      }

      &b-#{key}{
        padding-top: $value;
      }
    }
}

.m{
  @each $key, $value in $sizes{
    &-#{$key} {
      margin: $value;
    }
    
    &l-#{$key} {  // Corrected here
      margin-left: $value;
    }

    &r-#{$key} {  // Corrected here
      margin-right: $value;
    }

    &x-#{$key} {
      margin-left: $value;
      margin-right: $value;
    }

    &y-#{$key} {
      margin-top: $value;
      margin-bottom: $value;
    }

    &t-#{$key}{
      margin-top: $value;
    }

    &b-#{key}{
      margin-top: $value;
    }

    
  }
}

.w {
    &-100 {
        width: 100%;
    }

    &-75 {
        width: 75%;
    }

    &-70 {
        width: 70%;
    }

    &-60 {
        width: 60%;
    }

    &-50 {
        width: 50%;
    }

    &-40 {
        width: 40%;
    }

    &-35 {
        width: 35%;
    }

    &-30 {
        width: 30%;
    }

    &-36 {
        width: 36%;
    }

    &-25 {
        width: 25%;
    }

    &-18 {
        width: 18%;
    }
}

.height {
  &-100 {
    height: 100vh;
  }
}

.rounded {
    border-radius: var(--border-radius);

    &-lg {
        border-radius: var(--border-radius);
    }
}

.d {
    &-flex {
        display: flex;
    }

    &-contents {
        display: contents;
    }
}

.flex {
    display: flex;
  
    &-row {
      flex-direction: row;
    }
  
    &-col {
      flex-direction: column;
    }
  
    &-wrap {
      flex-wrap: wrap;
    }
  }

.justify {
    &-around {
        justify-content: space-around;
    }

    &-between {
        justify-content: space-between;
    }
    &-start{
        justify-content: flex-start;
    }
}
.align{
    &-baseline{
        align-items: baseline;
    }
    &-center{
        align-items: center;
    }
}
.gap{
    &-1{
        gap:1rem;
    }
    &-2{
        gap:2rem;
    }
}

.overflow{
    &-hidden{
        overflow: hidden;
    }
    &-auto{
        overflow: auto;
    }
    &-x-hidden{
        overflow-x: hidden;
    }
}

.br{
    &-8{
        border-radius: 8px;
    }
}