$sizes: (
  1: 0.125rem,  /* 2px */
  2: 0.25rem,   /* 4px */
  3: 0.375rem,  /* 6px */
  4: 0.5rem,    /* 8px */
  5: 0.625rem,  /* 10px */
  6: 0.75rem,   /* 12px */
  7: 0.875rem,  /* 14px */
  8: 1rem,      /* 16px */
  9: 1.125rem,  /* 18px */
  10: 1.25rem,  /* 20px */
  11: 1.375rem, /* 22px */
  12: 1.5rem,   /* 24px */
  13: 1.625rem, /* 26px */
  14: 1.75rem,  /* 28px */
  15: 1.875rem, /* 30px */
  16: 2rem,     /* 32px */
  17: 2.125rem, /* 34px */
  18: 2.25rem,  /* 36px */
  19: 2.375rem, /* 38px */
  20: 2.5rem    /* 40px */
);

.p {
  @each $key, $value in $sizes {
      &-#{$key} {
        padding: $value;
      }

      &x-#{$key} {
        padding-left: $value;
        padding-right: $value;
      }

      &y-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
      }

      &t-#{$key}{
        padding-top: $value;
      }

      &b-#{key}{
        padding-top: $value;
      }
    }
}

.m{
  @each $key, $value in $sizes{
    &-#{$key} {
      margin: $value;
    }

    &x-#{$key} {
      margin-left: $value;
      margin-right: $value;
    }

    &y-#{$key} {
      margin-top: $value;
      margin-bottom: $value;
    }

    &t-#{$key}{
      margin-top: $value;
    }

    &b-#{key}{
      margin-top: $value;
    }
  }
}

.w {

  &-100,
  &-full {
    width: 100%;
  }

  &-80 {
    width: 80%;
  }


  &-75 {
    width: 75%;
  }

  &-70 {
    width: 70%;
  }

  &-60 {
    width: 60%;
  }

  &-50 {
    width: 50%;
  }

  &-40 {
    width: 40%;
  }
  
  &-45 {
    width:45%;
  }

  &-30 {
    width: 30%;
  }

  &-35 {
    width: 35%;
  }

  &-28 {
    width: 28%;
  }

  &-25 {
    width: 25%;
  }

  &-20 {
    width: 20%;
  }
}

.gap {
  &-1 {
    gap: 4px;
  }

  &-2 {
    gap: 8px;
  }

  &-3 {
    gap: 12px;
  }

  &-4 {
    gap: 16px;
  }

  &-5 {
    gap: 20px;
  }

  &-6 {
    gap: 24px;
  }
}

.rounded {
  border-radius: var(--border-radius);

  &-lg {
    border-radius: var(--border-radius);
  }
}



.display {
  &-flex {
    display: flex;
  }
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.justify {
  &-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }

  &-around {
    justify-content: space-around;
  }

  &-end {
    justify-content: flex-end;
  }

  &-right {
    justify-content: right;
  }
}

.align {
  &-center {
    align-items: center;
  }
}

.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }
}

.flex {
  &-row {
    display: flex;
    flex-direction: row;
    justify-content:center;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }
}
