.layer-not-found {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1300 !important;
    background-color: #fff;

    #notFoundSvg {
        width: 737px;
        height: 562px;
    }

    .sorry-text {
        font-size: 74px;
        font-weight: 500;
        letter-spacing: -1.48px;
        color: #442f86;
    }

    .page-not-text {
        font-size: 44px;
        letter-spacing: -0.88px;
        color: var(--color-theme);
    }

    .sub-text-404 {
        font-size: 18px;
        line-height: 1.39;
        letter-spacing: -0.5px;
        color: #666;
    }
}